/*--------------------------------------------------------------
# Adventure Archive
--------------------------------------------------------------*/

.post-type-archive-adventure {
  h1 {
    text-align: center;
  }
}

.adventure-grid {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1rem;
  }
  li {
    width: 270px;
    height: 270px;
    color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: auto;
      min-height: 100%;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -90%);
    }
    .headline {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.4);
    }
    h2 {
      font: 2rem $font__main;
      text-transform: none;
      margin-bottom: 1rem;
      a {
        color: white;
        &:hover {
          color: $color_yellow;
        }
      }
    }
  }
  .white-link {
    a {
      color: white;
      border: 1px solid white;
      &:hover {
        border-color: $color_green;
      }
    }
  }
  @include tablet {
    li {
      width: 550px;
      height: 550px;
      margin-bottom: 20px;
      .adventure-img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      img {
        min-height: 630px;
        top: 75%;
        left: 50%;
      }
      .headline {
        padding: 4rem 1.5rem;
      }
      h2 {
        font: 3rem $font__main;
        margin-bottom: 4.5rem;
      }
    }
  }
  @include desktop {
    ul {
      justify-content: space-between;
    }
  }
}
