/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  width: 100%;
  min-height: 355px;
  background: url('../../images/dark-wood.png') repeat;
  color: white;
  line-height: 1.4;
  .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    .contact, .business, .footer-logo {
      width: 100%;
    }
    .contact {
      order: 3;
    }
    .business {
      order: 2;
    }
    .footer-logo {
      order: 0;
      margin-bottom: 1rem;
    }
    .site-info {
      order: 4;
    }
    p {
      margin-bottom: 1rem;
    }
    @include tablet {
      p {
        margin-bottom: 1.5rem;
      }
      h3 {
        margin-bottom: $base__space-unit;
      }
      .contact,.business {
        width: 50%;
      }
    }
    @include desktop{
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      padding-top: 4rem;
      .contact,.business {
        width: 25%;
        order: 0;
      }
      .footer-logo {
        order: 2;
        height: 50px;
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .site-info {
      text-align: center;
      width: 100%;
      font-family: $font_accent;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  h3 {
    color: $color_orange;
    margin-bottom: 1rem;
  }
  p span {
    font-weight: bold;
  }
  i {
    margin: 0 .4rem;
    width: 1rem;
    &:first-child{
      margin-left: 0;
    }
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
