/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/

.blog, .date {
    article {
    margin-bottom: 4.5rem;
  }
}

.blog, .single-post, .date {
  .entry-header {
    font-family: $font_accent;
    text-transform: uppercase;
    line-height: 0;
    position: relative;
    color: white;
  img {
    width: 100%;
    height: auto;
  }
  h1, h2 {
    color: white;
    padding: .5rem 1.5rem;
    line-height: 1.5;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $color_green;
    font-size: 1rem;
  }
  a {
    color: white;
    &:hover {
      color: $color_yellow;
    }
  }
  .entry-meta {
    line-height: 1.5;
    padding: .3rem .5rem;
    background-color: $color_green;
    font-size: .8rem;
  }
  @include tablet {
    h1, h2 {
      top: 35px;
      max-width: 570px;
      font-size: 2rem;
    }
    .entry-meta {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1rem;
    }
  }
 }
}
