/*--------------------------------------------------------------
# Single Product Page
--------------------------------------------------------------*/

.single-product {
  .one-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .product-img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .product-desc {
    width: 100%;
    h1 {
      color: $color_orange;
      margin-bottom: .7rem;
    }
    h2 {
      font-size: 1.8rem;
      letter-spacing: .5px;
      font-weight: normal;
    }
  }
  @include desktop {
    .one-product {
      justify-content: space-between;
    }
    .product-img {
      width: calc(50% - 20px);
    }
    .product-desc {
      width: calc(50% - 20px);
    }
  }
}
